<div class="clock">

  {{! hours }}
  <div class="column">
    <div class="tens" data-test="h1">
      <div class="dot {{if this.h12 "active"}}" data-test="h12"></div>
      <div class="dot {{if this.h11 "active"}}" data-test="h11"></div>
      <div class="help" data-test="h1-math">{{this.h1math}}</div>
      <div class="help" data-test="h1-binary">{{this.h1binary}}</div>
    </div>
    <div data-test="h0">
      <div class="dot {{if this.h08 "active"}}" data-test="h08"></div>
      <div class="dot {{if this.h04 "active"}}" data-test="h04"></div>
      <div class="dot {{if this.h02 "active"}}" data-test="h02"></div>
      <div class="dot {{if this.h01 "active"}}" data-test="h01"></div>
      <div class="help" data-test="h0-math">{{this.h0math}}</div>
      <div class="help" data-test="h0-binary">{{this.h0binary}}</div>
    </div>
  </div>

  {{! minutes }}
  <div class="column">
    <div class="tens" data-test="m1">
      <div class="dot {{if this.m14 "active"}}" data-test="m14"></div>
      <div class="dot {{if this.m12 "active"}}" data-test="m12"></div>
      <div class="dot {{if this.m11 "active"}}" data-test="m11"></div>
      <div class="help" data-test="m1-math">{{this.m1math}}</div>
      <div class="help" data-test="m1-binary">{{this.m1binary}}</div>
    </div>
    <div data-test="m0">
      <div class="dot {{if this.m08 "active"}}" data-test="m08"></div>
      <div class="dot {{if this.m04 "active"}}" data-test="m04"></div>
      <div class="dot {{if this.m02 "active"}}" data-test="m02"></div>
      <div class="dot {{if this.m01 "active"}}" data-test="m01"></div>
      <div class="help" data-test="m0-math">{{this.m0math}}</div>
      <div class="help" data-test="m0-binary">{{this.m0binary}}</div>
    </div>
  </div>

  {{! seconds }}
  <div class="column">
    <div class="tens" data-test="s1">
      <div class="dot {{if this.s14 "active"}}" data-test="s14"></div>
      <div class="dot {{if this.s12 "active"}}" data-test="s12"></div>
      <div class="dot {{if this.s11 "active"}}" data-test="s11"></div>
      <div class="help" data-test="s1-math">{{this.s1math}}</div>
      <div class="help" data-test="s1-binary">{{this.s1binary}}</div>
    </div>
    <div data-test="s0">
      <div class="dot {{if this.s08 "active"}}" data-test="s08"></div>
      <div class="dot {{if this.s04 "active"}}" data-test="s04"></div>
      <div class="dot {{if this.s02 "active"}}" data-test="s02"></div>
      <div class="dot {{if this.s01 "active"}}" data-test="s01"></div>
      <div class="help" data-test="s0-math">{{this.s0math}}</div>
      <div class="help" data-test="s0-binary">{{this.s0binary}}</div>
    </div>
  </div>
</div>

<div class="human-time" data-test="human-time">
  {{this.humanTime}}
</div>